<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/accountDetails.css') }}">
</head>

{% extends "base.html" %}
{% block content %}
{{ super() }}
<!-- Navigation bar -->
<div>
  <h1>Account Summary</h1>
  <h2>User Profile</h2>
  <p>
    <div class='title'>Email:</div>
    <div class='account_changeable' onclick="openDeleteForm()">{{ user.email }}</div>
  </p>
  <p>
    <div class='title'>Password: </div>
    <div class='account_changeable' onclick="openDeleteForm()"> ****** </div>
  </p>

  <!-- Delete Account confirmation -->
  <div class='form-popup' id='confirmForm'>
    <form action="" method=post class='confirmForm'>
      <h3 style="text-decoration: underline">Warning: This action is irreversible.</h3>
      <h3>Confirm password to delete your account.</h3>
      <input type="password" placeholder="Enter password" name="password" id="password" required>
      <div></div>
      <button name="deletebtn" type="submit" class="btn" style='margin-top: 30px'>Confirm Delete</button>
      <button class='btn' onclick="closeDeleteForm()">Cancel</button>
    </form>
  </div>
  <button class='btn' onclick="openDeleteForm()">Delete Account</button>


  <h2>Files Uploaded</h2> <!-- Make me into a popup link/click to expand -->

  <!-- Only display if user has uploaded files -->
  {% if files|length > 0 %}
  {% for f in files %}
  <p>
    {{ f.file_name }}
  </p>
  {% endfor %}

  <!-- No files uploaded -->
  {% else %}
  <div> You have not uploaded any files. Click <a href='/fileUpload'>here</a> to upload now. </div>
  {% endif %}
  <h2>Queries Submitted</h2> <!-- me too! -->
</div>

<script>

  function openDeleteForm() {
    document.getElementById('confirmForm').style.display = 'block';
  }

  function closeDeleteForm() {
    document.getElementById('confirmForm').style.display = 'none';
  }
</script>
{% endblock %}

</html>