<!DOCTYPE html>
<html lang="en">

<head>
<link rel = "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/uploadPage.css') }}">
<script src="{{ url_for('static', filename='modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>

{% extends "base.html" %}
{% block content %}
 {{ super() }} <!-- Navigation bar -->
 <form class="box" method="post" action="" id= "fileForm" enctype="multipart/form-data">
    <div class="box__input">
      <div><i class='far fa-folder-open' style='font-size: 4em; color: #1ba8ff; margin-bottom: 8%'></i></div>
      <input class="box__file" type="file" name="file" id="file" data-multiple-caption="{count} files selected" multiple />
      <label for="file" id='fileLabel'><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
      <div><button class="box__button" type="submit">Upload selected files</button></div>
    </div>
    <div class="box__uploading">Uploading&hellip;</div>
    <div class="box__success">Done!</div>
    <div class="box__error">Error! <span></span>.</div>
  </form>
  <script>

        /* Check if drag and drop is supported */
        var $isAdvancedUpload = function() {
            var div = document.createElement('div');
            return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
        }();

        var $form = $('.box');
        var $file = $('#file');
        var droppedFiles = false;

        /* Support for visual changes when Javascript is supported */
        if ($isAdvancedUpload) { 
            $form.addClass('has-advanced-upload'); /* loads css if supported */
            
            /* functionality for drag and drop uploads */

            $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
                e.preventDefault();
                e.stopPropagation();
            })

            .on('dragover dragenter', function() { //file dragged over
                $form.addClass('is-dragover');
            })

            .on('dragleave dragend drop', function() { //file not dragged over
                $form.removeClass('is-dragover');
            })

            .on('drop', function(e) {
                droppedFiles = e.originalEvent.dataTransfer.files;     
            });     
            
            $file.addClass('file2'); //hide the file select button / use label instead
            
        }


        /* Show the selected file(s) that has/have been dragged and dropped */
        var $input = $form.find('input[type="file"]'),
        $label = $form.find('label'),
        showFiles = function(files) {
            $label.text(files.length > 1 ? ($input.attr('data-multiple-caption') || '').replace( '{count}', files.length ) : files[ 0 ].name);
        };

        $form.on('drop', function(e) { 
            droppedFiles = e.originalEvent.dataTransfer.files;
            showFiles(droppedFiles);
        });

        /* Labels the form with the selected file(s) if not dragged and dropped */
        $(document).ready(function() {
            $('#file').change(function(e) {
                showFiles(e.target.files);
            });
        });   

        /* AJAX Submission */

        $('#fileForm').submit(function(e) {
            e.preventDefault();
            
            var dataForm = new FormData($form.get(0));

            if(droppedFiles){
                $.each(droppedFiles, function(i, file){
                    dataForm.append($input.attr('name'), file);
                });
            }

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: dataForm,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                complete: function() {
                    $form.removeClass('is-uploading');
                },
                success: function(data) {
                    $form.addClass(data.success == true ? 'is-success' : 'is-error');
                    if(!data.success){
                        $errorMsg.text(data.error);
                    }
                },
                error: function() {
                    //TODO-------------------------------------------------------
                }
            });

        });

    </script>
 {% endblock %}

</html>