<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/querypage.css') }}">
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</head>

{% extends "base.html" %}
{% block content %}
{{ super() }}
<!-- Navigation bar -->

<div id="main_wrap">
  <form class='text_editor' id='text_editor' method='post' action="{{ url_for('query') }}">
    <h2>Submit Query</h2>
    <div id='box'>
      <div id='toolbar'>
        <button class='format_btn' id='missing_character'>Character</button>
        <button class='format_btn' id='missing_word'>Word</button>
        <button class='format_btn' id='missing_sentence'>Sentence</button>
      </div>
      <div id='query_entry' name='query_entry'></div>
      <div style='text-align: right'>
        <input type='text' id='text_value' name='text_value' style='display: none'>
        {% if uid %}
        <input type='checkbox' name='private_check' value='1' id='private_check'>
        <span id='privateFlag' style='margin-right: 10px'>Use Private Database</span>
        {% else %}
        <input type='checkbox' name='private_check' value='1' disabled='disabled' id='private_check'>
        <span id='privateFlag' style='margin-right: 10px'>Use Private Database</span>
        {% endif %}
        <button id='submit'>Submit Query</button>
      </div>
    </div>
  </form>
</div>
<script>

  /* Initialize editor */
  var container = document.getElementById('query_entry');
  var editor = new Quill(container, {
    modules: {
      toolbar: '#toolbar'
    }
  });

  var Delta = Quill.import('delta');

  editor.on('text-change', function (delta, old_delta, source) {
    var contents = editor.getContents();
    var index = (delta.ops[0].retain);  //Location of change
    var text = editor.getText();
    var change = null;
    if (source == 'user') {
      if (delta.ops.length > 1) { // If there's been a change beyond initialization
        var new_op = delta.ops[1]; //grab change dict

        if (new_op.hasOwnProperty('delete')) { // If something was deleted
          if ((text.charAt(index - 1) == '<') && (text.charAt(index) == '>')) { //If W or S or C was deleted
            change = new Delta().retain(index - 2).delete(4);
          }
          else if (text.charAt(index - 2) == '<' && text.charAt(index) == '_') { //If '>' was deleted
            change = new Delta().retain(index - 3).delete(4);
          }
          else if (text.charAt(index - 1) == '_' && text.charAt(index + 1) == '>') { // If '<' was deleted
            change = new Delta().retain(index - 1).delete(4);
          }
          else if (text.charAt(index - 1) == '>' && text.charAt(index - 3) == '<') { //Delete second underscore
            change = new Delta().retain(index - 4).delete(4);
          } else if (text.charAt(index) == '<' && text.charAt(index + 2) == '>') { //first underscore
            change = new Delta().retain(index).delete(4);
          }
        } else if (new_op.hasOwnProperty('insert')) {
          if ((text.charAt(index - 1) == '_') && (text.charAt(index + 1) == '<')) { //Insert first position:  _(here)<*>_
            change = new Delta().retain(index).delete(1);
          }
          else if (text.charAt(index - 1) == '<' && text.charAt(index + 2) == '>') { //Second position _<(here)*>_
            change = new Delta().retain(index).delete(1);
          }
          else if (text.charAt(index - 3) == '_' && text.charAt(index - 2) == '<') { // Third _<*(here)>_
            change = new Delta().retain(index).delete(1);
          }
          else if (text.charAt(index + 1) == '_' && text.charAt(index - 1) == '>') { //Fourth _<*>(here)_
            change = new Delta().retain(index).delete(1);
          }
        }
        if (change != null) {
          new_contents = contents.compose(change);
          editor.setContents(new_contents, 'silent');
        }
      }
    }
  });

  /* Add buttons for functionality */
  var missingCharBtn = document.querySelector('#missing_character');
  missingCharBtn.addEventListener('click', function (e) {
    e.preventDefault();

    var length = editor.getLength();
    var idx = 0;
    var contents = editor.getContents();

    if (length != 1) { //if not an empty window
      idx = editor.getSelection().index;

      var delta = new Delta([{
        retain: idx
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      },
      {
        insert: '<C>', attributes: {
          background: '#ffdd1b', bold: true
        }
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    } else {
      var delta = new Delta([{
        insert: '_', attributes: { background: null, bold: null }
      }, {
        insert: '<C>', attributes: {
          background: '#ffdd1b', bold: true
        }
      }, {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    }

    new_contents = contents.compose(delta);
    editor.setContents(new_contents, source = 'silent');
    editor.setSelection(idx + 5);
  });

  var missingWordBtn = document.querySelector('#missing_word');
  missingWordBtn.addEventListener('click', function (e) {
    e.preventDefault();

    var length = editor.getLength();
    var idx = 0;
    var contents = editor.getContents();

    if (length != 1) { //if not an empty window
      idx = editor.getSelection().index;

      var delta = new Delta([{
        retain: idx
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      },
      {
        insert: '<W>', attributes: {
          background: '#ffdd1b', bold: true
        }
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    } else {
      var delta = new Delta([{
        insert: '_', attributes: { background: null, bold: null }
      }, {
        insert: '<W>', attributes: {
          background: '#ffdd1b', bold: true
        }
      }, {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    }

    new_contents = contents.compose(delta);
    editor.setContents(new_contents, source = 'silent');
    editor.setSelection(idx + 5);
  });

  var missingSentBtn = document.querySelector('#missing_sentence');
  missingSentBtn.addEventListener('click', function (e) {
    e.preventDefault();
    var length = editor.getLength();
    var idx = 0;
    var contents = editor.getContents();

    if (length != 1) { //if not an empty window
      idx = editor.getSelection().index;

      var delta = new Delta([{
        retain: idx
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      },
      {
        insert: '<S>', attributes: {
          background: '#ffdd1b', bold: true
        }
      },
      {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    } else {
      var delta = new Delta([{
        insert: '_', attributes: { background: null, bold: null }
      }, {
        insert: '<S>', attributes: {
          background: '#ffdd1b', bold: true
        }
      }, {
        insert: '_', attributes: { background: null, bold: null }
      }]);
    }

    new_contents = contents.compose(delta);
    editor.setContents(new_contents, source = 'silent');
    editor.setSelection(idx + 5);
  });


  $('#submit').click(function (e) {
    e.preventDefault();
    $('#submit').prop('disabled', true);

    var query_text = {
      'query_text': $('.ql-editor').text(),
      'private_check': $('#private_check').is(':checked')
    }

    $.ajax({
      url: $('#text_editor').attr('action'),
      type: 'post',
      data: JSON.stringify(query_text),
      contentType: 'application/json',
      success: function (response) {
        $('.ql-editor').html(response);
        $('#submit').prop('disabled', false);
      },
      error: function () {
        alert('Private database selected but no user is logged in')
      }
    });
  });

</script>
{% endblock %}

</html>