<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/accountforms.css') }}">
</head>

{% extends "base.html" %}
{% block content %}
{{ super() }}
<!-- Nav bar-->

<div id="form-wrap">
  {% if loginform.errors %}
  <ul class="errors">
    {% for field_name, field_errors in loginform.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li>{{ loginform[field_name].label }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
  <form action="" method=post class="form-horizontal">
    {{ loginform.csrf_token }}
    <h2>Sign in to NLP WebApp </h2>
    <div class="control-group">
      <div class="controls">
        {{ loginform.email(class_="input-xlarge", placeholder='Email Address')}}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        {{ loginform.password(class_="input-xlarge", placeholder='Password')}}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        {{ loginform.remember_check() }}
        <a style="color: white">Remember login?</a> <br>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success">Sign in</button>
      </div>
    </div>
    <a id="linkRegister" href="/register">No account? Click here to sign up.</a>
  </form>

</div>
{% endblock %}

</html>