#form-wrap {
    width: 375px;           /* Set this to your convenience */
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    margin-top: 25vh;
    margin-bottom: 25vh;
    background-color: #1ba8ff;
    border-radius: 25px;
}

.control-group {
    padding-bottom: 10px;
}

h2 {  
    color: white;
}

a {
    color: white;
}

a:visited {
    color: white;
}
